<h2>Survey Theming</h2>

<form class="ui form">
	
	<div class="ui container grid">
		<div class="three column row">
			<div class="column">
				<div class="ui fluid image">
			        <span class="ui green right corner large label">
				        <i class="checkmark icon"></i>
			        </span>
					<img src="assets/img/theme/theme_placeholder_thumb.jpg" height="265" width="452">
			    </div>
			</div>
			<div class="column">
				<div class="ui fluid image">
					<span class="ui green right corner large label" style="display:none;">
				        <i class="checkmark icon"></i>
			        </span>
					<img src="assets/img/theme/theme_placeholder_thumb.jpg" height="265" width="452">
				</div>
			</div>
			<div class="column">
				<div class="ui fluid image">
					<span class="ui green right corner large label" style="display:none;">
				        <i class="checkmark icon"></i>
			        </span>
					<img src="assets/img/theme/theme_placeholder_thumb.jpg" height="265" width="452">
				</div>
			</div>
		</div>
		<div class="three column row">
			<div class="column">
				<div class="ui fluid image">
					<span class="ui green right corner large label" style="display:none;">
				        <i class="checkmark icon"></i>
			        </span>
					<img src="assets/img/theme/theme_placeholder_thumb.jpg" height="265" width="452">
			    </div>
			</div>
			<div class="column">
				<div class="ui fluid image">
					<span class="ui green right corner large label" style="display:none;">
				        <i class="checkmark icon"></i>
			        </span>
					<img src="assets/img/theme/theme_placeholder_thumb.jpg" height="265" width="452">
				</div>
			</div>
			<div class="column">
				<div class="ui fluid image">
					<span class="ui green right corner large label" style="display:none;">
				        <i class="checkmark icon"></i>
			        </span>
					<img src="assets/img/theme/theme_placeholder_thumb.jpg" height="265" width="452">
				</div>
			</div>
		</div>
	</div>
	
	<!-- Navigation Button -->
	<div class="buttons" align="center">
		<button class="ui blue labeled icon button">
		  <i class="chevron left icon"></i>Previous
		</button>
		<button class="ui green right labeled icon button">
		  <i class="chevron right icon"></i>Continue
		</button>
	</div>
</form>