<h2>Let's Get Started</h2>

<form class="ui form">
	<p>This web app is a proof of concept only and all features may not work as expected and could contain bugs! This is designed for research company <a href="http://www.bpanz.com">Best Practice Australia</a> by former employee, <a href="http://www.toddjohnson.com.au">Todd Johnson</a> (now of <a href="http://www.kwarzastudios.com">Kwarza Studios</a>), should he have re-built their process in developing eSurvey's. There is no work owned by <a href="http://www.bpanz.com">Best Practice Australia</a> within this web app, all text and information is dummy data and in no way affiliated with any of <a href="http://www.bpanz.com">Best Practice Australia</a>'s work.</p>

	<p><strong>Coeus</strong> is a simplistic, but powerful web app developed for <a href="http://www.bpanz.com">Best Practice Australia</a> with the purpose of creating &amp; distrubuting eSurveys with a focus on analysising and reporting on the data collected. <strong>Coeus</strong> is built with a modularised method in mind.</p>

	<p>Within <strong>Coeus</strong> you are able to create all your survey questions and link them to pre-made templates (or new custom templates). This is all modular, you will have your own page templates as well as styled templates for each question.</p>

	<p>You are also able to view standard analytics with information such as how many customers are completing your survey in real time, what device type they are using, mobile, tablet or desktop, what browser, the version of the browser, even thier operating system. You can then produce reports on this for marketing.</p>

	<p>Reporting, <strong>Coeus</strong> is so smart it can generate reports for you based on pre-defined database queries, if the query isn't there, you can make your own using SQL.</p>

	<p>Everything you need in one easy to use place.</p>
	
	<!-- Navigation Button -->
	<div class="buttons" align="center">
		<button class="ui blue labeled icon button">
		  <i class="chevron left icon"></i>Previous
		</button>
		<button class="ui green right labeled icon button">
		  <i class="chevron right icon"></i>Continue
		</button>
	</div>		
</form>