<h2>Survey Participants</h2>

<form class="ui form">
	
	<div class="buttons" align="center">
		<button class="ui green button">
			<i class="file excel outline icon"></i>Import from CSV
		</button>
		<button class="ui twitter button">
			<i class="mail icon"></i>Import from MailChimp
		</button>
		<button class="ui orange button">
			<i class="disk outline icon"></i>Import from Computer
		</button>
	</div>

	<div class="field">
		<label>Upload Participant List</label>
		<div class="ui action input">
		  <input type="text" readonly="" placeholder="Format Supported (csv, txt)">
		  <button class="ui button">Upload</button>
		</div>
    </div>

    <div align="center">
	    <a href="">Upload Later</a>
	</div>


    <div class="ui icon message">
	  <i class="checkmark icon"></i>
	  <div class="content">
	    <div class="header">
	      Success!
	    </div>
	    <p>2143 Participants were successfully uploaded.</p>
	  </div>
	</div>
	

	<!-- Navigation Button -->
	<div class="buttons" align="center">
		<button class="ui blue labeled icon button">
		  <i class="chevron left icon"></i>Previous
		</button>
		<button class="ui green right labeled icon button">
		  <i class="chevron right icon"></i>Continue
		</button>
	</div>
	
</form>